* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* 기본 배경색 (검은색) */
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}
